.btn {
  border-radius: 2rem;
  font-size: 1.6rem;
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 3rem;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
}
.btn-orange {
  background-color: rgba(236, 96, 8, 0.9);
}
.btn-orange:hover {
  background-color: rgb(4, 166, 247);
  transform: scale(0.9);
}
